/Confezionato.class
/Farinaceo.class
/Frutta.class
/Latticino.class
/Prodotto.class
/Prodotto_kg.class
/Prodotto_unitario.class
/Uova.class
/Verdura.class
/Cliente.class
/Tessera.class
/Comune.class
/Fattura.class
/Carrello.class
/ProdottoUnitario.class
